<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Login</title>
        {% block staticResourses %}
    {% load static %}
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
        <link rel="stylesheet" href = "{% static '/css/login.css' %}">
    {% endblock %}
</head>
<body>
		<div class='row no-gutters'>
			<div class='col no-gutters'>
				<div class ='leftsize'>
					<h3 class='left-con'>The Future of Technology is here</h3>
					<h6 >Virtual Bank Account</h6>
					{% load static %}<img class='img' src="{% static "/media/capture.svg" %}" alt="Logo">
				</div>
			</div>

		<form action="/signin" method="post" >
            {% csrf_token %}
			<div >
				<div class='rightside'>
					<h2 id='login'>Login to your account</h2></br>
					<label>Firstname:</label></br>
					<input id='name' type='text' name='fname' placeholder='Enter first name' ></br></br>
					<label>Phone number:</label></br>
					<input id='name' type='text' name='phone' placeholder='Enter Phone' ></br><br><br>
					<button id ="button3" type="submit">Sign in</button>
                </div>
			</div>
		</form>

		</div>
</body>
</html>