<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/html">
<head>
    <meta charset="UTF-8">
    <title>Sign Up</title>
    {% block staticResourses %}
    {% load static %}
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
        <link rel="stylesheet" href = "{% static '/css/index.css' %}">
    {% endblock %}
</head>

<body>
        <div class='row no-gutters'>
			<div class='col no-gutters'>
				<div class ='leftsize'>
					<h3 class='left-con'>The Future of Technology is here</h3>
					<h6 >Virtual Bank Account</h6>
					{% load static %}<img class='img' src="{% static "/media/capture.svg" %}" alt="Logo">
				</div>
			</div>

			<div >
				<div class='rightside'>
					<h2 id='welcome'>Welcome</h2></br>
                    <button id ="button4" type="submit"><a id="button" href="/signup">Sign Up</a></button></br><br>
                    <button id="button4" type="submit"><a id="button" href="/signin">Login</a></button>
				</div>
			</div>

</div>
    <script src="" async defer></script>
</body>
</html>